{% extends 'base.html' %}

{% block content %}
    <h1>Hello Linux</h1>
    <form method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="search">
    </form>
    <br>
    <div class="card">
        {% for post in posts %}
            <div class="card-body">
                <a href="{{ post.get_absolute_url }}">{{ post.user.username }}---{{ post.body|truncatewords:8 }}</a>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock content %}